.filling {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.filling__img-wrapper {
  flex-shrink: 0;
  width: 100%;
  margin-bottom: 30px;
  overflow: hidden;
}

.filling__content {
  text-align: center;
}

.filling__h {
  margin: 0;
  margin-bottom: 5px;

  font-size: 16px;
}

.filling__text {
  max-width: 450px;
  margin: 0;
  margin-bottom: 15px;
}

.filling__price {
  margin: 0;
  margin-bottom: 20px;

  font-family: "PlayfairDisplay", serif;
  font-size: 18px;
}

@media (min-width: @tablet-width) {
  .filling {
    flex-direction: row;
    width: 460px;
    margin: auto;
  }

  .filling__img-wrapper {
    width: 220px;
  }

  .filling__img {
    width: auto;
    height: 235px;
  }

  .filling__content {
    margin-left: 25px;
    text-align: left;
  }
}

@media (min-width: @desktop-width) {
  .filling {
    width: 660px;
  }

  .filling__img-wrapper {
    width: 345px;
  }
}
