.introduction {
  padding: 0;
  margin: 0;
  background-image: url("./img/mobile-cake.png");
  background-repeat: no-repeat;
  background-position: top;
}

.introduction__wrapper {
  padding: 160px @mobile-container-padding 14px @mobile-container-padding;
  margin: auto;
  text-align: center;
}

.introduction__h {
  padding: 0;
  margin: 0;
  font-size: 40px;
  font-family: "PlayfairDisplay", serif;
  color: #2d2829;
  letter-spacing: 3px;
}

.introduction__description {
  padding: 0;
  margin: 20px 0;
}

.introduction__advantage {
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
  font-size: 14px;
  font-family: "Circe", serif;
  text-align: left;
}

.introduction__advantage svg {
  flex-shrink: 0;
  width: 35px;
  height: 35px;
  margin-right: 10px;
  fill: #f50049;
}

.introduction__button {
  display: inline-block;
  margin-top: 40px;
}
